<!doctype html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | striptags }}</title>
    <link rel="stylesheet" href="../composer/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../composer/vendor/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="composer/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="composer/vendor/components/font-awesome/css/font-awesome.min.css">
</head>.
    <body class="bg-dark">
        <nav class="container navbar navbar-expand-md bg-dark bg-gradient navbar-dark sticky-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span> MENU
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% for page in nav %}
                            {% if user.rights == 10 %} {# Pravo 10 == SuperAdmin - ten muze videt uplne kazdou stranku #}
                                <li class='nav-item'><a class='nav-link' href="{{ page.href }}">{{ page.title }}</a></li>
                            {% elseif page.pravo == 0 or page.pravo == user.rights %} {# Zobraz genericke stranky s pravem 0 a stranky s pravem pro daneho uzivatele #}
                                <li class='nav-item'><a class='nav-link' href="{{ page.href }}">{{ page.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if not user.logged  %}
                            <li class='nav-item'><a class='nav-link' href="index.php?page=registrace"><span class="fa fa-user"></span> Registrace</a></li>
                            <li class='nav-item'><a class='nav-link' href="index.php?page=login"><span class="fa fa-sign-in"></span> Přihlásit se</a></li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle navbar-brand" href="#" role="button" data-bs-toggle="dropdown">
                                    <img id="profile_pic" src="data/default_avatar.png" alt="Not found" style="width:25px;" class="rounded-pill"> {{ user.login }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="index.php?page=profil">Moje údaje</a></li>
                                    <li><a class="dropdown-item" href="index.php?page=mojeclanky">Moje články</a></li>
                                </ul>
                            </li>
                            <form method="POST">
                            <li class='nav-item'>
                                <button class="btn btn-dark bg-gradient nav-link" type="submit" name="action" value="logout">
                                    <span class="fa fa-sign-out"></span> Odhlásit se
                                </button>
                            </li>
                            </form>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <header class="container bg-secondary bg-gradient fw-bold text-center border-dark border-bottom">
            <h1>{{ title | striptags }}</h1>
        </header>
        <div class="container bg-secondary bg-gradient border-dark border-bottom">
            <br>
            {% if error is defined and error is not null %}
                <div class="alert-danger bg-danger bg-gradient text-black">
                    <p class="text-center">
                        {{ error | raw }}
                    </p>
                </div>
            {% endif %}

            {% if prompt is defined and prompt is not null %}
                <div class="alert-success bg-success bg-gradient text-black">
                    <p class="text-center">
                        {{ prompt | raw }}
                    </p>
                </div>
            {% endif %}

            {% block obsah %}

            {% endblock obsah %}

            <br>
        </div>
        <footer class="container bg-dark bg-gradient text-white text-center">
            &copy; 2021<br>
            <span class="fa fa-cog fa-spin"></span>

            <script src="composer/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="composer/vendor/components/jquery/jquery.min.js"></script>

            <script>

                // Po nacteni webu
                $(document).ready(function() {

                    {% if user.logged %}
                    // Pokud ma uzivatel profilovy obrazek, zmeni se k nemu cesta
                        {% if user.picture is not null %}
                            document.getElementById("profile_pic").src = "{{ user.picture }}";
                        {% endif %}
                    {% endif %}

                });

            </script>
        </footer>
    </body>
</html>