{% extends "BasicTemplate.twig" %}

{% block obsah %}

    {% if not user.logged %}
    <div class="container text-center">
        <p>Nejste přihlášen!</p>
    </div>
    {% elseif user.rights == 3 or user.rights == 10 %}

    {% for article in articles %}
        <div class="container border-top border-bottom border-dark bg-gradient">
            <div>
                <h3>{{ article.title }}</h3>
            </div>
            <div>
                <h4>
                    Autor: {% for oneuser in allusers %}
                        {% if oneuser.id_user == article.id_user %}
                            {{ oneuser.login }}
                        {% endif %}
                    {% endfor %}
                </h4>
            </div>
            <p><h5>Abstract:</h5>{{ article.abstract | raw }}</p>
            <p class="text-center"><a class="btn btn-dark bg-gradient" target="_blank" href="{{ article.filepath }}">Celý článek</a></p>
            {% set alreadyrated = 0 %}
            {% for rating in ratings %}
                {% if user.id_user == rating.id_user and article.id_article == rating.id_article %}
                    {% set alreadyrated = 1 %}
                {% endif %}
            {% endfor %}
            {% if alreadyrated == 1 %}
                <div class="container"><br>
                    Tento článek jste už hodnotil!<br><b>Děkujeme</b>
                </div><br>
            {% else %}
                <form method="POST" id="addratingform{{ article.id_article }}">
                    <div class="container"><br>
                        <div class="form-group">
                            <label>Ohodnoťtě na stupnici 1 - 10 (1 = nejhorší, 10 = nejlepší):</label><br>
                            <input id="ratingnum{{ article.id_article }}" class="bg-dark text-white" type="number" min="1" max="10" name="ratingnum" value="5" required>
                        </div><br>
                        <div class="form-group">
                            <label>Poznámky:</label><br>
                            <textarea id="comment{{ article.id_article }}" placeholder="-- Váš doplňující komentář --"></textarea>
                        </div><br>
                        <button class="btn btn-success bg-gradient" onclick="submitData({{ user.id_user }}, {{ article.id_article }})" type="submit" name="review"><span class="fa fa-arrow-circle-right"></span> Odeslat hodnocení</button><br>
                    </div><br>
                </form>
            {% endif %}
        </div>
    {% endfor %}

    {% else %}
    <div class="container text-center">
        <p>Nejste recenzent!</p>
    </div>
    {% endif %}

    <script>

        function submitData(userid, articleid) {
            var originaltext = $("#comment"+articleid).val();
            // originaltext = originaltext.val();
            const form = document.getElementById("addratingform"+articleid);
            const text = document.createElement("input");
            text.type = "hidden";
            text.name = "ratingtext";
            text.value = originaltext;
            const iduser = document.createElement("input");
            iduser.type = "hidden";
            iduser.name = "ratinguserid";
            iduser.value = userid;
            const idarticle = document.createElement("input");
            idarticle.type = "hidden";
            idarticle.name = "ratingarticleid";
            idarticle.value = articleid;
            form.appendChild(text);
            form.appendChild(iduser);
            form.appendChild(idarticle);
            document.body.appendChild(form);
            form.submit();
        }

    </script>

{% endblock obsah %}